@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
}

/*.default {
    margin: 1em auto;
    width: 90%;
}*/

h1, footer {
    text-align: center;
}

input[type="submit"] {
    margin: 5px 10px;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    color: white;
    font-size: 1em;
}

.grid th, .grid td {
    border: 1px solid #C0C0C0;
    padding: 5px;
}

.alt {
    background-color: lightsteelblue;
    color: #000;
}

.field-validation-error {
    font-weight: bold;
    color: red;
}

.validation-summary-errors {
    border: 2px dashed red;
    color: red;
    font-weight: bold;
    margin: 12px;
}